// url
$body-bg: url(https://i.pinimg.com/564x/e3/de/c5/e3dec5beba4a4ed6764aa0905b94cd31.jpg);

// colors
$mainColor: blueviolet;
$secondaryColor: blue;
$tertiaryColor: violet;
$fourColor: coral;
$fiveColor: rebeccapurple;
$sixColor: black;
$eightColor: cornflowerblue;
$nineColor: white;
$tenColor: rgba(255, 0, 0, 0);
$elevenColor: grey;
$twelveColor: gray;

// fonts
$mainFont: 'Roboto Mono', monospace;

// font weight
$fontLight: 100;
$fontBold: 700;
$fontRegular: 500;
$fontMedium: 300;
$fontHalfMedium: 400;
$fontAlmostLight: 200;
$fontMini: 14px;
$fontMinitwo: 15px;

// positions
$display-flex: flex;
$display-block: block;
$display-grid: grid;
$display-inline-bock: inline-block;
$row: row;
$center: center;
$auto: auto;
$left: left;
$miniMargin: 0 auto;
$mini-line-height: 1.6;
$hidden-overflow-x: hidden;
$column: column;
$wrap: wrap;
$row: 4;
$text-align-justify: justify;
$px: 50px;
$grid-template-rows: 1px;
$body-pos: bottom;
$fixed: fixed;
$twobody-poss: contain;
$middle: middle;
$margin: 0 auto;
$width-height: 150%;
$margin-left-right: calc((100% - 550px) / 2);

// size
$largePadding: 10px 0 10px 5px;
$largeMargin: 30px 5px 5px 15px;
$largeWidth: 700px;
$threepx: 400px;
$mediumWidth: 600px;
$smallWidth: 200px;
$smallHeight: 200px;
$miniHeight: 100px;
$miniHeighttwo: 85px;
$littleMargin: 0;
$twopx: 10px;
$box-sizing-border-box: border-box;
$both: both;
$threepx: 20px;
$miniMargin: 10;
$mini-padding-left: 25px;
$text-right: right;
$margin-bottom: 0;
$margin-right: 5px;
$margin-bottom-container: 20px;
$body-height: 300px;
$cover: cover;
$width: 100%;
$background-size: 1000px;
$widthLarge: 116%;
$heightMedium: 50%;

// customs
$solid: solid;
$body-repeat: no-repeat;
$list-style: none;
$border: 1px solid transparent;

body {
    background-image: $body-bg;
    width: $width;
    height: $body-height;
    object-fit: $cover;
    object-position: $body-pos;
    background-repeat: $body-repeat;
    background-attachment: $fixed;
    background-size: $cover;
}


h1 {
    font-family: $mainFont;
    font-weight: $fontBold;
    color: $mainColor;
}

h2 {
    font-family: $mainFont;
    font-weight: $fontRegular;
    color: $secondaryColor;
}

h3 {
    font-family: $mainFont;
    font-weight: $fontLight;
}

h5 {
    font-family: $mainFont;
    font-weight: $fontMedium;
}

h6 {
    font-family: $mainFont;
    font-weight: $fontLight;
}


.frases {
    font-family: $mainFont;
    font-weight: $fontHalfMedium;
}

.números{
    font-family: $mainFont;
    font-weight: $fontHalfMedium;
    color: $tertiaryColor;
}

.peliculas {
    font-family: $mainFont;
    font-weight: $fontHalfMedium;
}

.frases2 {
    font-family: $mainFont;
    font-weight: $fontAlmostLight;
}

.números2 {
    font-family: $mainFont;
    font-weight: $fontAlmostLight;
    color: $fourColor;
}

.redes {
    color: $fiveColor;
}

.acount {
    color: $sixColor;
 }

 .centro{
    vertical-align: $middle;
}

.box-model {
    margin: $largeMargin;
    padding: $largePadding;
    border: $twopx $solid $tenColor;
    text-align: $text-align-justify;
}

.alineación {
    display: $display-flex;
    flex-direction: $row;
    flex-flow: $row;
    flex-wrap: $wrap;
    align-items: $center;
    justify-content: $center;
}

    .alineación figcaption {
        color: $eightColor;
    }

.iyt {
    vertical-align: $middle;
}

footer {
display: $display-block;
justify-content: $center;
}

#header {
    margin: auto;
    width: $fontRegular;
    font-family: $mainFont;
    font-weight: $fontLight;
}

ul {
    list-style: $list-style;
}

.grid-container {
    display: $display-grid;
    grid-template-columns: $px; /* 2 columnas */
    grid-template-rows: $px; /* 2 filas */
    grid-column-gap: $twopx;
    grid-row-gap: $twopx;
    /* Centrar items */
    justify-items: $center;
    align-items: $center;
    justify-content: $center;
    align-content: $center;
    column-gap: $twopx;
    row-gap: $twopx;
}

.grid-container2 {
    display: $display-grid;
    grid-template-columns: $threepx; /* 1 columna */
    grid-template-rows: $grid-template-rows; /*1 fila */
    grid-column-gap: $twopx;
    grid-row-gap: $twopx;
    /* Centrar items */
    margin-left: $auto;
    margin-right: $auto;
    justify-items: $center;
    align-items: $center;
    justify-content: $center;
    align-content: $center;
    column-gap: $twopx;
    row-gap: $twopx;
}

.union {
    display: $display-flex;
    justify-content: $left;
}

.caja-1 {
    background-color: $elevenColor;
    max-width: $largeWidth;
    margin: $littleMargin;
    float: $left;
    padding: $twopx;
    box-sizing: $box-sizing-border-box;
    margin-top: $threepx;
  }

  .caja-2 {
    clear: $both;
    background-color: $elevenColor;
    max-width: $mediumWidth;
    margin: $littleMargin;
    float: $left;
    padding: $twopx;
    box-sizing: $box-sizing-border-box;
    margin-top: $threepx;
  }

  .caja-3 {
    clear: $both;
    background-color: $elevenColor;
    max-width: $largeWidth;
    margin: $littleMargin;
    float: $left;
    padding: $twopx;
    box-sizing: $box-sizing-border-box;
    margin-top: $threepx;
  }

  .caja-4 {
    clear: $both;
    background-color: $elevenColor;
    max-width: $mediumWidth;
    margin: $littleMargin;
    float: $left;
    padding: $twopx;
    box-sizing: $box-sizing-border-box;
    margin-top: $threepx;
  }

  .caja-5 {
    clear: $both;
    background-color: $elevenColor;
    max-width: $mediumWidth;
    margin: $littleMargin;
    float: $left;
    padding: $twopx;
    box-sizing: $box-sizing-border-box;
    margin-top: $threepx
  }

  .gray-box {
    background-color: $twelveColor;
    padding: $threepx;
    margin: $margin;
    width: $width;
  }

/* Estilos para dispositivos móviles */

@media screen and (max-width: 400px) {
    body {
        background-image: $body-bg;
        background-size: $cover;
        background-repeat: $body-repeat;
        background-attachment: $fixed;
        background-position: center center;
    }

    .imagenfrases {
        justify-content: $center;
        text-align: $center;
        background-position: $center;
        background-attachment: $fixed;
        width: $smallWidth;
        height: $miniHeight;
        margin: $miniMargin;
    }

    .titulo {
        justify-content: $center;
        text-align: $center;
        font-weight: $fontAlmostLight;
    }

    .subtitulo {
        justify-content: $center;
        text-align: $center;
        font-weight: $fontLight;
    }

    div.union img.derecha {
        height: $smallHeight;
        width: $smallWidth;
        display: $display-inline-bock;
    }

    .frases {
        display: $display-inline-bock;
        line-height: $mini-line-height;
        max-width: $width;
        overflow-x: $hidden-overflow-x;
        object-fit: $cover;
        width: $threepx;
        height: $miniHeighttwo;
        margin: $miniMargin;
        margin-top: $twopx;
        padding-left: $mini-padding-left;
        font-size: $fontMini;
        padding: $twopx;
        font-weight: $fontLight;
    }

    .union {
        flex-direction: $column;
        flex-wrap: $wrap;
    }

    .union > h3 {
        width: $width;
      }
      .contenedorfrases {
        width: $width;
      }
      .contenedorfrases .frasescontainer {
        display: $display-flex;
        flex-direction: $column;
        align-items: $center;
      }
      .contenedorfrases .frasescontainer h3 {
        text-align: $text-right;
        margin-bottom: $margin-bottom;
      }
      .contenedorfrases .frasescontainer .números {
        margin-right: $margin-right;
      }

    .contenedorfrases {
        margin-bottom: $margin-bottom-container;
    }

    .nota {
        margin: $littleMargin;
    }

    .containerblogs {
        max-width: $width-height;
        max-height: $width-height;
        border: $border;
        margin-left: $margin-left-right;
        margin-right: $margin-left-right;
        background-size: $background-size;
        width: $widthLarge;
        height: $heightMedium;
      }

    .iyt {
        grid-row: $row;
    }
}

/* Estilos para dispositivos desktop */

@media screen and (max-width: 1500px) {
    body {
        background-image: $body-bg;
        background-position: $center;
        background-image: $fixed;
        background-repeat: $body-repeat;
        background-position: $twobody-poss;
    }

    .union {
        display: $display-flex;
        justify-content: $left;
    }

    .contenedorfrases {
        display: $display-flex;
        flex-direction: $column;
    }
    
    .frases {
        float: $left;
        clear: $left;
        font-size: $fontMinitwo;
    }

    .peliculas {
        font-size: $fontMinitwo;
    }

    .frases2 {
        font-size: $fontMinitwo;
    }
}